<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/AdminLogin.css') }}">
</head>
<body>
    <div class="login-form-container">
        <form method="POST" action="/login/admin" class="form">
            <h2>Admin Login</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error-message">{{ messages[0] }}</div>
                {% endif %}
            {% endwith %}

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="adminpin">Admin PIN</label>
            <input type="text" id="adminpin" name="adminpin" required>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
